:root {
    background-color: #f0c9ea;
    font-family: 'segoe UI', Arial, Helvetica, sans-serif;

}

.orkut-font-color{
    color:#E8258E
}

.orkut-button-bg{
    background-color: #e8258e;
    cursor: pointer;
}

.orkut-link{
    text-decoration: none;
    font-weight: 500;
}